@import "fonts/style.css";

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

$bright-blue: #397299;
$links: #776a99;

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Source Sans Pro';
  font-weight: normal;
}

a, a:visited {
  color: $links;
  text-decoration: none;
  font-family: 'Source Sans Pro';
}

.remark-code, .remark-inline-code {
  font-family: 'Inconsolata-g', monospace;
  font-size: 14px;
}

.remark-slide-number {
  display: none;
}


// Per slide styles.
#slide-installation-title {
  background: $bright-blue;
  color: white;
  h1 {
    font-size: 115px;
  }
}
